body {
    background-color: #F2F6FF;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 16px 78px;
    Background-color: #fff;

}

.logo-container {
    display: inline-block;
    width: 16%;
}

.logo-container{
    margin: 0px;
    color: #0084ff;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    font-weight: 900;
}
.logo-container p{
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: black;
    font-size: 17px;
}

.dropdown{
    display: inline-block;
}
.category{
    padding: 16px;
    margin-bottom: 20px;
    font-size: 16px;
}
.category h1{
    color: #000;
    font-weight: 600;
    margin: 0;
}
.category i{
    color: #3580C1;
}
.category .filter-text{
    font-size: 14px;
    margin-left: 8px;
    font-weight: 600;
}
.Categories{
    display: inline-block;
    font-size: 13px;
    padding: 4px 14px;
    width: auto;
    color:  #0084ff;
    border-radius: 15px;
    border: 1px solid  #0084ff;
    margin: 5px;
    cursor: pointer;
}
.active{
    color: #fff;
background-color: #0084ff;
}
.items{
    width: 80vw;
    margin: 10px auto;
    padding: 20px 0;
}
.item{
    width: 30%;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #0084ff59;
    border-radius: 4px;
}
.img-section{
     height: 176px;
     width: 100%;
}
.img-section img{
    width: 100%;
    height: 100%;
}
.text-section{
    padding: 18px;
}
.title{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}
.author-section{
    margin: 0;
}
.author{
    margin: 4px 0;
    color: #0096ff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.date{
color: rgba(0,0,0,0.7);
font-size: 14px;
font-weight: 300;
font-style: normal;
}
.description{
    font-size: 14px;
    font-weight: 400;
    Line-height: 1.43;
    color: rgba(0,0,0,.6);
    margin: 8px 0;
}
footer{
    background-color: #172146;
    padding: 40px 16%;
}